/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* padding: 6rem 0; */
  height: calc(100vh - var(--ifm-navbar-height));
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container {
  margin: auto;
  width: 100%;
  z-index: 1;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 250px;
  height: 250px;
  z-index: 1;
}

.skeleton {
  position: absolute;
  bottom: 0;
  right: 0;
  /* width: 750px; */
  opacity: 0.1;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .img {
    width: 100px;
    height: 100px;
  }
}